{{define "home/url_row"}}
<!-- Card -->
<div class="pb-1 pt-2 flex flex-col rounded-sm bg-white shadow px-3 w-full cursor-pointer mb-1">
  <!-- Title -->
  <div class="text-black-500 hover:text-indigo-500">
    <p class="font-medium text-xl cursor-pointer">{{.WebLink}}</p>
  </div>
  <!-- Link -->
  <div class="text-gray-500 hover:text-indigo-400 overflow-hidden">
    <a class="font-sm text-xs cursor-pointer style-none" href="{{.WebLink}}" target="_blank">{{.WebLink}}</a>
  </div>

  <!-- Description -->
  {{if .Summary}}
      <div class="mb-2 w-3/4 h-10 overflow-hidden">
        <p class="text-sm text-gray-700 font-light max-w-full overflow-hidden text-ellipsis"></p>
      </div>
  {{end}}

  <!-- Icon -->
    {{template "home/url_actions" .}}
</div>
{{end}}
