{{define "home/url_row"}}
<div class="w-full bg-white hover:bg-gray-50 transition-colors
            border border-gray-100 shadow-sm
            rounded-none p-2 mb-0 flex flex-col gap-0">

  <!-- Top Row: Icon + Title -->
  <div class="flex items-center gap-2">
    <img src="https://www.google.com/s2/favicons?domain={{.WebLink}}" alt="favicon" class="h-5 w-5">
    <a href="{{.WebLink}}" target="_blank" class="text-indigo-600 hover:underline font-medium text-base truncate">
        {{or .Title .WebLink}}
    </a>
  </div>

  <!-- Tag + Summary -->
  <div class="flex flex-wrap items-center gap-1 text-ms text-gray-600">
    {{if .Tag}}
      <span class="text-{{.Tag}}-600 font-large hover:underline cursor-pointer">#{{.Tag}}</span>
    {{end}}
     <span>|</span>
     <span class="truncate max-w-full">{{or .Summary .WebLink}}</span>
  </div>

  <!-- Meta Actions -->
  {{template "home/url_actions" .}}
</div>
{{end}}
