root = "."
tmp_dir = ".air"

[build]
cmd = "make build"
args_bin = ["server"]
bin = "main"
delay = 1000
include_ext = ["go", "tmpl", "js", "css", "json"]
include_file = ["main.go"]
include_dir = ["cmd", "config", "frontend", "internal", "models", "modules", "pkg", "server", "templates", "types"]
exclude_regex = ["_test.go$", "_gen.go$"]
stop_on_error = true

[misc]
# Delete tmp directory on exit
clean_on_exit = true

[screen]
clear_on_rebuild = false
keep_scroll = false

[color]
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"
