body {
    color: black;
}

#logo {
    font-family: 'Montserrat', cursive;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    cursor: default;
    color: black;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

#logo:hover {
    color: rgb(249 115 22);
    text-decoration: none;
}
