body {
    color: black;
    font-family: 'Lato', normal, serif;
}

#logo {
    font-family: 'Lato', cursive;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    cursor: default;
    color: black;
    flex-direction: row;
    padding-left: 7px;
}

#logo:hover {
    color: rgb(249 115 22);
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    flex-wrap: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -0.5vw;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    width: 100%;
    background-color: white;
    display: inline-flex;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.colors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.colors li {
    margin: 0 10px 0 0;
    display: inline-block;
}

.colors label {
    cursor: pointer;
}

.colors input {
    display: none;
}

.colors input[type="radio"]:checked + .swatch {
    box-shadow: inset 0 0 0 3px azure;
}

.swatch {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 3px 0 0;
    border: 1px solid #2f2424;
}

:root {
    --brand: #4f46e5; /* PinMyBlogs purple */
    --radius: 9999px; /* fully round */
}
