{{define "error/500"}}
<span class="flex h-[600px] items-center justify-center text-center">
  <div class="place-content-center bg-white px-4">
    <h1 class="uppercase tracking-widest text-indigo-500">500 | Something went wrong</h1>
  </div>
</span>
{{end}}
