{{ template "layout/base" . }}
<div class="bg-white h-full">
  <div class="flex min-h-full flex-col justify-center px-6 py-7 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      {{ template "widget/icon" . }}
      <div
        class="flex justify-center flex-col item-center w-fit max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto h-20 w-auto">
        {{ template "widget/pinmyblogs_name" . }}
      </div>
      <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ .Message}}</h2>
    </div>
    <p class="mt-2 text-ml flex flex-1 items-center justify-center text-green-500">
      <a class="mt-10 text-center text-indigo-800 cursor-pointer" href="/login">Go to Login</a>
    </p>
  </div>
</div>
{{ template "footer" . }}