{{template "layout/base" .}}
<div class="bg-white h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-7 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    {{template "widget/icon" .}}
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Password reset link sent</h2>
  </div>
  <p class="mt-5 text-ml text-green-500">
    <p class="font-semibold text-center text-green-500">
    Reset link has been sent to registed account <span class="font-italic text-black-800 border-gray-500 border-b-4 border-dashed cursor-pointer">{{.Email}}</span>.
    <br/>
     <span class="text-gray-900">Please check your mail inbox/spam box.</span>
     <span class="text-gray-900">If you have not received email <a class="text-indigo-400" href="/reset">click here</a>.</span>
   </p>
   <a class="mt-10 text-center text-indigo-800 cursor-pointer" href="/login"> Go to Login</a>
  </p>

</div>
</div>
{{template "footer" .}}
