{{ template "layout/base" . }}
<div class="bg-gradient-to-br from-beige-50 to-white min-h-screen flex items-center justify-center px-6 py-12 lg:px-8">
  <div class="w-full max-w-md bg-white rounded-3xl shadow-xl p-8 sm:p-10">
    <!-- Logo/Icon -->
    <div class="flex flex-col items-center">
      <div class="flex justify-center flex-col item-center w-fit max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto h-20 w-auto">
        {{ template "widget/pinmyblogs_name" . }}
      </div>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign up for new account</h2>
    </div>
    <!-- General Error Message -->
  <p class="mt-4 text-center text-red-600 text-sm {{ if .HasError }}visible{{ else }}hidden{{ end }}">{{.Error}}</p>
  <!-- Signup Form -->
  <form class="mt-6 space-y-6" action="/signup" method="post">
    <!-- Email -->
    <div>
      <label for="email" class="block text-sm font-medium text-gray-900">Email address</label>
      <div class="mt-2">
        <input id="email"
               name="email"
               type="email"
               autofocus
               autocomplete="email"
               required
               value="{{.email}}"
               class="block w-full rounded-xl border-0 py-2 px-4 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" />
      <p class="pt-1 text-xs text-red-600 {{ if .Email_HasError }}visible{{ else }}hidden{{ end }}">{{.Email_Error}}</p>
    </div>
  </div>
  <!-- Password -->
  <div>
    <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
    <div class="mt-2">
      <input id="password"
             name="password"
             type="password"
             autocomplete="current-password"
             required
             value="{{.password}}"
             class="block w-full rounded-xl border-0 py-2 px-4 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" />
    <p class="pt-1 text-xs text-red-600 {{ if .Password_HasError }}visible{{ else }}hidden{{ end }}">
      {{.Password_Error}}
    </p>
  </div>
</div>
<!-- Confirm Password -->
<div>
  <label for="confirm-password"
         class="block text-sm font-medium text-gray-900">Confirm password</label>
  <div class="mt-2">
    <input id="confirm-password"
           name="confirm_password"
           type="password"
           required
           value="{{.confirm_password}}"
           class="block w-full rounded-xl border-0 py-2 px-4 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" />
  <p class="pt-1 text-xs text-red-600 {{ if .ConfirmPassword_HasError }}visible{{ else }}hidden{{ end }}">
    {{.ConfirmPassword_Error}}
  </p>
</div>
</div>
<!-- Submit Button -->
<div>
  <button type="submit"
          name="submit"
          class="flex w-full justify-center rounded-xl bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-lg hover:bg-indigo-500 transition-all duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    Sign up
  </button>
</div>
</form>
<!-- Already a member link -->
<p class="mt-8 text-center text-sm text-gray-500">
  Already a member?
  <a href="/login"
     class="font-semibold text-indigo-600 hover:text-indigo-500 underline">Sign in</a>
</p>
</div>
</div>
{{ template "footer" . }}
