{{ template "layout/base" . }}
<body class="bg-[#2167DE] min-h-screen flex flex-col px-6 py-7 lg:px-8">
    <!-- Logo -->
    <header class="flex justify-center">
        {{ template "widget/icon" . }}
    </header>
    <!-- Main -->
    <main class="flex-1 flex items-center justify-center px-3 sm:px-6">
        <section class="w-full max-w-sm sm:max-w-md md:max-w-lg">
            <!-- SEO H1 -->
            <h1 class="sr-only">PinMyBlogs – Save and Organize Your Favorite Blogs</h1>
            <article class=" group border border-white/20 rounded-2xl p-6 sm:p-8 md:p-8 text-white text-center hover:border-white ">
                <!-- Header -->
                <header class="flex flex-col items-center mb-6">
                    <h2 class="text-2xl sm:text-3xl md:text-4xl font-serif font-bold underline underline-offset-4 mb-3">PinMyBlogs</h2>
                    <span class=" inline-flex w-fit items-center justify-center px-3 py-1 text-xs sm:text-sm rounded-full bg-white text-blue-600 font-semibold whitespace-nowrap ">
                        {{ if .email }}
                        waitlist joined
                    {{ else }}
                        join waitlist
                        {{ end }}
                    </span>
                </header>
                <!-- Copy -->
                <p class="text-base sm:text-lg md:text-xl leading-relaxed text-white/90 font-serif mb-8">
                    Save and organize your favorite blogs in one place.
                    Simple weblink bookmark manager.
                </p>
                {{ if not .email }}
                <!-- Form -->
                <form method="post"
                      action="/start"
                      class="flex flex-col sm:flex-row gap-3 justify-center"
                      aria-label="Join waitlist">
                    <input name="email"
                           type="email"
                           value=""
                           required
                           placeholder="you@example.com"
                           class=" w-full px-4 py-3 rounded-lg text-white-900 focus:outline-none ring-2 " />
                    <button type="submit"
                            class=" px-6 py-3 rounded-lg bg-white text-blue-600 font-semibold hover:bg-blue-50 transition ">
                        Join
                    </button>
                </form>
                {{ end }}
            </article>
        </section>
    </main>
    {{ template "widget/public_footer" . }}
</body>
