{{define "footer"}}
{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
<body>
{{end}}
<footer>
    {{template "widget/notification" .}}
</footer>
<script src="statics/app.js" type="module"></script>
</body>
</html>
{{end}}
