{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
<body>
{{end}}
{{define "footer"}}

    <footer>This is footer</footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="statics/app.js"></script>
</body>
</html>
{{end}}
