{{define "footer"}}
{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
<body>
{{end}}
<footer>This is footer</footer>
<script src="statics/app.js"></script>
</body>
</html>
{{end}}
