{{define "head"}}
  <meta charset="UTF-8" />
  <title>pinmyblogs.com</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="statics/icons/favicon.svg">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src='{{asset "js/tailwindcss.js"}}'></script>
  <link href='{{asset "css/style.css"}}' rel="stylesheet" type="text/css">
  </head>
{{end}}
