{{define "layout/nav_bar_opener"}}
<span id="nav-bar-open" class="inline-flex items-center justify-center text-wrap w-fit rounded-md ml-0 p-1 sm:p-2 bg-gray-200 text-gray-900 hover:text-indigo-500" >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 sm:w-5 sm:h-5"> <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" /> </svg>
</span>
{{end}}
