{{define "layout/search"}}
<div class="mx-auto h-auto w-fit flex justify-center items-stretch focus:border-2 focus:border-orange-500">
  <div class="text-gray-900 bg-gray-200 pl-3 rounded">
    <input type="text" class="h-max mt-1 w-96 bg-gray-200 z-0 focus:outline-none" placeholder="Search anything..." />
  </div>
</div>
{{end}}
