---

name: Check

on: [ push ]
jobs:

  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@latest
        with:
          version: v2.1
          config: .golangci.yml
      - name: test
        run: make test

