name: test

on: [ push ]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: test
        run: |
          make generate-config
          export ENVIRONMENT=local && make test
