{{define "widget/pinmyblogs_name"}}
<a href="/start">
  <svg viewBox="0 0 220 60"
       xmlns="http://www.w3.org/2000/svg"
       class="w-full h-auto">
    <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" stop-color="#6366F1" />
    <stop offset="100%" stop-color="#4F46E5" />
    </linearGradient>
    </defs>
    <!-- Use textLength to scale text to fit SVG width -->
    <text x="6" y="40" font-family="'Pacifico', cursive" font-size="35" fill="url(#gradient)" textLength="200" lengthAdjust="spacingAndGlyphs">
    pinmyblogs.com
    </text>
  </svg>
</a>
{{end}}
