{{define "widget/search"}}
<div class="mx-auto  h-auto w-fit flex justify-center items-stretch focus-within:border-2 focus-within:border-none group rounded-md overflow-hidden">
  <div class="text-gray-900 bg-gray-200 pl-3">
    <input
      type="text"
      placeholder="Search for words or #tags"
      class="h-max mt-1 w-96 bg-gray-200 z-0 focus:outline-none text-gray-900 placeholder-gray-500"
    />
  </div>
</div>
{{end}}
