{{define "widget/sort"}}
<div class="dropdown">
  <span class="flex pr-1 items-center justify-center z-0">
    <button class="text-gray-700 text-md select-none">Sort</button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-4 w-4 ml-1 accent-indigo-600 focus:accent-indigo-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"  />
    </svg>
  </span>
  <div class="dropdown-content">
    <a href="#" class="p-3">Pinned</a>
    <a href="#" class="p-3">Recent</a>
    <a href="#" class="p-3">Latest</a>
    <a href="#" class="p-3">Older</a>
  </div>
</div>
{{end}}
