{{define "widget/sort"}}
<div class="dropdown">
  <span class="flex pr-1 items-center justify-center">
    <button class="text-gray-700 text-md select-none">Sort</button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="h-4 w-4 ml-1 accent-orange-600 focus:accent-orange-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
    </svg>
  </span>
  <div class="dropdown-content">
    <a href="#" class="p-3">Pinned</a>
    <a href="#" class="p-3">Recent</a>
    <a href="#" class="p-3">Older</a>
    <a href="#" class="p-3">Latest</a>
  </div>
</div>
{{end}}
