{{ define "widget/url_row" }}
<div class="w-[inherit] bg-white hover:bg-gray-50 transition-colors border border-gray-100 shadow-sm rounded-none p-2 flex flex-col gap-0">
  <!-- Top Row: Icon + Title -->
  <div class="flex items-center gap-2 w-100">
    <img src="https://www.google.com/s2/favicons?domain={{.WebLink}}&sz=64"
         alt="favicon"
         class="h-5 w-5" />
    <a href="{{.WebLink}}"
       target="_blank"
       class="text-indigo-600 hover:underline font-medium text-base truncate">{{ or .Title .WebLink }}</a>
  </div>
  <!-- Tag + Summary -->
  <div class="flex items-center gap-1 text-ms text-gray-600 truncate">
    {{ if .Tag }}
    <span class="text-{{.Tag}}-800 text-sm hover:underline cursor-pointer">#{{.Tag}}</span>
    {{ end }}
    <span class="text-black-300">•</span>
    <a href="{{.WebLink}}"
       target="_blank"
       class="text-indigo-400 hover:underline text-base truncate w-100">{{ or .Summary .WebLink }}</a>
  </div>
  <!-- Meta Actions -->
  {{ template "widget/url_actions" . }}
</div>
{{ end }}
